<a href="https://colab.research.google.com/github/supreetahuja/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [5]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(['EIN','NAME','SPECIAL_CONSIDERATIONS'],axis=1)

In [7]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
unique_values = application_df.nunique()
unique_values

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = application_type_counts[application_type_counts < 10].index
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = classification_value_counts[classification_value_counts < 10].index
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: CLASSIFICATION, dtype: int64

In [13]:
categorical_columns = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT']
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df, columns=categorical_columns)
application_df.head(50)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,0,0,0,1,...,1,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,0
5,1,5000,1,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
6,1,31452,1,0,0,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,0
7,1,7508025,1,0,0,0,0,0,0,1,...,1,0,0,0,0,1,0,0,0,0
8,1,94389,1,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
9,1,5000,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
10,1,69656,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,1,0,0
11,1,165593,0,0,0,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,0
12,1,5000,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
13,1,5301,1,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,1,0,0
14,1,5000,1,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
15,1,5000,1,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
16,1,5000,1,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
17,1,86380556,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
18,1,5000,0,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
19,1,376109,0,0,0,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,0
20,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
21,1,5000,1,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
22,1,318296,0,0,0,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,0
23,1,5000,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
24,1,5000,0,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
25,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
26,1,5000,1,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
27,1,44004,1,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,1,0,0
28,1,5000,0,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
29,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
30,1,323466,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
31,1,5000,1,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
32,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
33,1,5000,1,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
34,1,5000,0,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
35,1,5000,0,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
36,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
37,1,5000,1,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
38,1,5000,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
39,1,5000,1,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,1,0,0
40,1,709815,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,1,0,0
41,1,1329410,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
42,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
43,1,5000,0,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
44,1,5000,1,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
45,1,5000,1,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
46,1,5000,0,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
47,1,5000,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
48,1,5000,1,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
49,1,5000,0,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0

In [14]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_df.drop(columns=['IS_SUCCESSFUL'])
y = application_df['IS_SUCCESSFUL']

X.shape

(34299, 69)

In [15]:
y.shape

(34299,)

In [16]:
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=3, activation="relu", input_dim=69))
# Second hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=2, activation="relu"))
# Output layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 3)                 210

 dense_1 (Dense)             (None, 2)                 8

 dense_2 (Dense)             (None, 1)                 3

=================================================================
Total params: 221 (884.00 Byte)
Trainable params: 221 (884.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
# Compile the model
#  YOUR CODE GOES HERE
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
751/751 [==============================] - 4s 3ms/step - loss: 0.6688 - accuracy: 0.5897
Epoch 2/100
751/751 [==============================] - 1s 2ms/step - loss: 0.6153 - accuracy: 0.7014
Epoch 3/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5964 - accuracy: 0.7075
Epoch 4/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5891 - accuracy: 0.7108
Epoch 5/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5848 - accuracy: 0.7131
Epoch 6/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5820 - accuracy: 0.7150
Epoch 7/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5801 - accuracy: 0.7147
Epoch 8/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5778 - accuracy: 0.7184
Epoch 9/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5763 - accuracy: 0.7192
Epoch 10/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5757 - accuracy: 0.7193
Epoch 11/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5752 - accuracy: 0.7199
Epoch 12/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5748 - accuracy: 0.7194
Epoch 13/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5744 - accuracy: 0.7200
Epoch 14/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5739 - accuracy: 0.7199
Epoch 15/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5736 - accuracy: 0.7203
Epoch 16/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5732 - accuracy: 0.7202
Epoch 17/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5730 - accuracy: 0.7204
Epoch 18/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5709 - accuracy: 0.7193
Epoch 19/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5699 - accuracy: 0.7199
Epoch 20/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5669 - accuracy: 0.7191
Epoch 21/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5644 - accuracy: 0.7206
Epoch 22/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5629 - accuracy: 0.7210
Epoch 23/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5619 - accuracy: 0.7216
Epoch 24/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5612 - accuracy: 0.7207
Epoch 25/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5606 - accuracy: 0.7209
Epoch 26/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5602 - accuracy: 0.7208
Epoch 27/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5597 - accuracy: 0.7211
Epoch 28/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5594 - accuracy: 0.7208
Epoch 29/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5592 - accuracy: 0.7205
Epoch 30/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5589 - accuracy: 0.7219
Epoch 31/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5587 - accuracy: 0.7213
Epoch 32/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5586 - accuracy: 0.7214
Epoch 33/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5583 - accuracy: 0.7222
Epoch 34/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5583 - accuracy: 0.7223
Epoch 35/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5582 - accuracy: 0.7214
Epoch 36/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5582 - accuracy: 0.7218
Epoch 37/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5578 - accuracy: 0.7223
Epoch 38/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5578 - accuracy: 0.7220
Epoch 39/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5577 - accuracy: 0.7215
Epoch 40/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5578 - accuracy: 0.7221
Epoch 41/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5577 - accuracy: 0.7215
Epoch 42/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5575 - accuracy: 0.7208
Epoch 43/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5574 - accuracy: 0.7221
Epoch 44/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5572 - accuracy: 0.7216
Epoch 45/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5573 - accuracy: 0.7229
Epoch 46/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5572 - accuracy: 0.7214
Epoch 47/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5571 - accuracy: 0.7209
Epoch 48/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5570 - accuracy: 0.7226
Epoch 49/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5569 - accuracy: 0.7211
Epoch 50/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5570 - accuracy: 0.7224
Epoch 51/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5570 - accuracy: 0.7226
Epoch 52/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5566 - accuracy: 0.7225
Epoch 53/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5568 - accuracy: 0.7220
Epoch 54/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5568 - accuracy: 0.7211
Epoch 55/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5569 - accuracy: 0.7213
Epoch 56/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5566 - accuracy: 0.7224
Epoch 57/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5566 - accuracy: 0.7237
Epoch 58/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5567 - accuracy: 0.7209
Epoch 59/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7227
Epoch 60/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5565 - accuracy: 0.7218
Epoch 61/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5565 - accuracy: 0.7216
Epoch 62/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5565 - accuracy: 0.7226
Epoch 63/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5564 - accuracy: 0.7234
Epoch 64/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5564 - accuracy: 0.7236
Epoch 65/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5562 - accuracy: 0.7234
Epoch 66/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7238
Epoch 67/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5562 - accuracy: 0.7240
Epoch 68/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5562 - accuracy: 0.7236
Epoch 69/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5561 - accuracy: 0.7242
Epoch 70/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5560 - accuracy: 0.7246
Epoch 71/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5561 - accuracy: 0.7236
Epoch 72/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5563 - accuracy: 0.7228
Epoch 73/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5561 - accuracy: 0.7240
Epoch 74/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5562 - accuracy: 0.7242
Epoch 75/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5562 - accuracy: 0.7253
Epoch 76/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5561 - accuracy: 0.7246
Epoch 77/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5560 - accuracy: 0.7247
Epoch 78/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5560 - accuracy: 0.7242
Epoch 79/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5554 - accuracy: 0.7239
Epoch 80/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5542 - accuracy: 0.7242
Epoch 81/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5537 - accuracy: 0.7257
Epoch 82/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5536 - accuracy: 0.7270
Epoch 83/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5537 - accuracy: 0.7266
Epoch 84/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5535 - accuracy: 0.7254
Epoch 85/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5535 - accuracy: 0.7251
Epoch 86/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5535 - accuracy: 0.7259
Epoch 87/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5536 - accuracy: 0.7256
Epoch 88/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7250
Epoch 89/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5534 - accuracy: 0.7260
Epoch 90/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5534 - accuracy: 0.7254
Epoch 91/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5533 - accuracy: 0.7268
Epoch 92/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5532 - accuracy: 0.7256
Epoch 93/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5533 - accuracy: 0.7254
Epoch 94/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5533 - accuracy: 0.7248
Epoch 95/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7256
Epoch 96/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5532 - accuracy: 0.7256
Epoch 97/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5532 - accuracy: 0.7245
Epoch 98/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7246
Epoch 99/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5532 - accuracy: 0.7258
Epoch 100/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5532 - accuracy: 0.7246

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

322/322 - 1s - loss: 0.5564 - accuracy: 0.7234 - 834ms/epoch - 3ms/step
Loss: 0.5564335584640503, Accuracy: 0.7234207987785339

In [22]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn_model.save("AlphabetSoupCharity_Optimization.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(